<ion-header>
  <ion-toolbar>
    <ion-title>Transacciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input formControlName="nombre" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input formControlName="cantidad" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Porcentaje IVA</ion-label>
        <ion-input formControlName="porcentajeIVA" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input formControlName="descripcion" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comprobante</ion-label>
        <ion-input formControlName="comprobante" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Añadir Transaccion
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

    <ion-list>
    <ion-list-header>
      Transacciones
    </ion-list-header>

    <ion-item lines="inset" *ngFor="let data of Data">
      <ion-label>
        <h5>{{data.Titulo}}</h5>
        <p>{{data.cantidad}}</p>
        <p>{{data.porcentajeIVA}}</p>
        <p>{{data.descripcion}}</p>
        <p>{{data.comprobante}}</p>
      </ion-label>

      <div class="item-note" item-end>
        <ion-icon name="create" style="zoom:2.0" [routerLink]="['/transaccion/', data.id]"></ion-icon>        
        <ion-icon name="trash" style="zoom:2.0" (click)="deleteTransaccion(data.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>